<div class="container">
  <div [hidden]="libroActualizado">
      <h3 class="center-align"> Editar Libro
        <i class="large material-icons prefix">border_color</i>
      </h3>
    <div class="row">
      <form (ngSubmit)="onSubmit()" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="titulo" placeholder="" type="text" class="validate" required [(ngModel)]="libro.titulo" name="titulo">
            <label for="titulo">Título *</label>
          </div>
          <div class="input-field col s6">
            <input id="autor" placeholder="" type="text" class="validate" required [(ngModel)]="libro.autor" name="autor">
            <label for="autor">Autor *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="editorial" placeholder="" type="text" class="validate" required [(ngModel)]="libro.editorial" name="editorial">
            <label for="editorial">Editorial *</label>
          </div>
          <div class="input-field col s6">
              <input id="fechaDePublicacion" type="date" required [(ngModel)]="libro.fechaDePublicacion" name="fechaDePublicacion">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select materialize="material_select" id="categoria" name="categoria" required [(ngModel)]="libro.categoria">
              <option value="" disabled>Categoría *</option>
              <option value="Administracion">Administración</option>
              <option value="Ficcion">Ficción</option>
              <option value="Ingenieria">Ingeniería</option>
              <option value="Programacion">Programación</option>
              <option value="Arte Y Literatura">Arte Y Literatura</option>
            </select>
          </div>
          <div class="input-field col s6">
            <select materialize="material_select" id="formato" name="formato" [(ngModel)]="libro.formato">
              <option value="" disabled>Formato</option>
              <option value="Libro De Bolsillo">Libro De Bolsillo</option>
              <option value="Tapa Dura">Tapa Dura</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="numeroDePaginas" placeholder="" type="number" class="validate" [(ngModel)]="libro.numeroDePaginas" name="numeroDePaginas">
            <label for="numeroDePaginas">Número De Páginas</label>
          </div>
          <div class="input-field col s6">
            <input id="isbn" placeholder="" type="text" class="validate" required [(ngModel)]="libro.isbn" name="isbn">
            <label for="isbn">ISBN *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="listaDePrecios" placeholder="" type="number" class="validate" [(ngModel)]="libro.listaDePrecios" name="listaDePrecios" step="0.01">
            <label for="listaDePrecios">Lista De Precios Otros Sitios</label>
          </div>
          <div class="input-field col s6">
            <input id="nuestroPrecio" placeholder="" type="number" class="validate" required [(ngModel)]="libro.nuestroPrecio" name="nuestroPrecio"
              step="0.01">
            <label for="nuestroPrecio">Nuestro Precio *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="pesoDelEnvio" placeholder="" type="number" class="validate" [(ngModel)]="libro.pesoDelEnvio" name="pesoDelEnvio" step="0.01">
            <label for="pesoDelEnvio">Peso Del Libro</label>
          </div>
          <div class="input-field col s6">
            <select materialize="material_select" id="idioma" name="idioma" [(ngModel)]="libro.idioma">
              <option disabled>Idioma</option>
              <option value="Ingles">Ingles</option>
              <option value="Español">Español</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="numeroDeStock" placeholder="" type="number" class="validate" [(ngModel)]="libro.numeroDeStock" name="numeroDeStock">
            <label for="numeroDeStock">Numero De Stock</label>
          </div>
        </div>
        <div class="row">
          <div class="switch col s6">
            <label>
              Activo:
              <input [(ngModel)]="libro.activo" name="activo" id="activo" type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">book</i>
            <textarea id="descripcion" placeholder="" [(ngModel)]="libro.descripcion" class="materialize-textarea" name="descripcion"></textarea>
            <label for="descripcion">Descripcion</label>
          </div>
        </div>
        <div class="row">
          <div class="file-field input-field col s5">
            <div class="btn pink darken-2">
              <span>Libro *</span>
              <input id="imagenLibro" type="file" name="imagenLibro" (change)="uploadImageService.fileChangeEvent($event)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s2">
            <button type="submit" class="btn pink darken-2 waves-effect waves-light">Actualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row" [hidden]="!libroActualizado">
    <h3>Libro actualizado con existo</h3>
  </div>
</div>
