.card-login{
    margin-left: 20%;
    margin-right: 20%;
}

/* label focus color */
.input-field input:focus + label {
    color: #c2185b !important;
}

/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #c2185b !important;
    box-shadow: 0 1px 0 0 #c2185b !important
}

/* color del icono */
i.icon-pink-darken {
    color: #c2185b;
}

i.material-icons.active {
    color: #c2185b;
}