<div class="container">
  <div style="margin-top: 3%;">
    <a routerLink="/listaLibros">
      <i class="material-icons">arrow_back</i>Volver</a>
    <span> / </span>
    <a (click)="onSelect(libro)" style="cursor: pointer">Editar</a>
  </div>
  <div class="row">
    <div class="col s12">
      <h2 class="header center">Editar Libro</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img [src]="'http://localhost:8181/image/libro/'+libro.id+'.png'" class="responsive-img">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <h3>{{libro.titulo}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col s5">
                <ul class="collection">
                  <li class="collection-item avatar">
                    <img [src]="autorImg" alt="" class="circle">
                    <span class="title">Autor:</span>
                    <p><b>{{libro.autor}}</b></p>
                  </li>
                  <li class="collection-item avatar">
                    <img [src]="editorialImg" alt="" class="circle">
                    <span class="title">Editorial:</span>
                    <p><b>{{libro.editorial}}</b></p>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle cyan darken-4">date_range</i>
                    <span class="title">Fecha De Publicación:</span>
                    <p><b>{{libro.fechaDePublicacion}}</b></p>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle brown">public</i>
                    <span class="title">Idioma:</span>
                    <p><b>{{libro.idioma}}</b></p>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle cyan darken-4">widgets</i>
                    <span class="title">Categoría:</span>
                    <p><b>{{libro.categoria}}</b></p>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle brown">filter_9_plus</i>
                    <span class="title">Número De Páginas:</span>
                    <p><b>{{libro.numeroDePaginas}}</b></p>
                  </li>
                </ul>
              </div>
              <div class="col s7">
                <ul class="collection">
                  <li class="collection-item avatar">
                    <i class="material-icons circle cyan darken-4">polymer</i>
                    <span class="title">Formato:</span>
                    <p><b>{{libro.formato}}</b></p>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle brown">note</i>
                    <span class="title">ISBN:</span>
                    <p><b>{{libro.isbn}}</b></p>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle cyan darken-4">book</i>
                    <span class="title">Peso Del Libro:</span>
                    <p><b>{{libro.pesoDelEnvio}}</b></p>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle brown">attach_money</i>
                    <span class="title">Lista De Precios:</span>
                    <p><b>{{libro.listaDePrecios}}</b></p>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle cyan darken-4">euro_symbol</i>
                    <span class="title">Nuestro Precio:</span>
                    <p><b>{{libro.nuestroPrecio}}</b></p>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle brown">assistant_photo</i>
                    <span class="title">Stock:</span>
                    <p><b>{{libro.numeroDeStock}}</b></p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-action">
              <a>Descripción:</a>
              <p><b>{{libro.descripcion}}</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>